@font-face {
    font-family: 'Bad Script';
    src: url('BadScript-Regular.eot');
    src: url('BadScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('BadScript-Regular.woff2') format('woff2'),
        url('BadScript-Regular.woff') format('woff'),
        url('BadScript-Regular.ttf') format('truetype'),
        url('BadScript-Regular.svg#BadScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

